                          @media only screen and (max-width: 768px) {
                              .hero-row {
                                  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                              }
                              .hero-left {
                                  display: grid;
                                  grid-template-rows: 50vh;
                              }
                              .hero-right {
                                  display: grid;
                                  grid-template-rows: 50vh;
                              }
                          }